#quakeList li,
#quakeDetails li {
   width: 500px;
   background-color: #F2F2F2;
   list-style-type: none;
   border-bottom: 1px solid black;
   margin-left: -40px;
   margin-bottom: 0;
   padding: 10px;
}

#quakeDetails li {
   width: 400px;
}

.listBorderTop {
   border-top: 2px solid black;
}

#quakeList li:first-of-type,
#quakeDetails li:first-of-type {
   border-top: 2px solid black;
}

#quakeList li:last-of-type,
#quakeDetails li:last-of-type {
   border-bottom: 2px solid black;
}

#quakeList {
   width: 500px;
   margin-left: 5px;
}

#quakeDetails {
   width: 400px;
   margin-left: 5px;
}

#refreshPage, #toggleView {
   margin-bottom: 10px;
   width: 200px;
}
.title_bold {
   font-size: 1.2em;
   font-weight: bold;
   font-style: italic;
   color: darkblue;
}

.hide_item {
   display: none;
}

/* .row {
   display: flex;
}

.column {
   flex: 50%;
} */


.row {
   width: 100%;
   height: 100%;
   overflow: hidden;
}

.slideDiv {
   transition: all 1.0s linear;
   /* settings for open menu */
   display: flex;
   flex-direction: column;
   background: white;
   float: left;
   position: relative;
   width: 100%;
   height: 100%;
}
/* 
.slideDiv:hover span,
.slideDiv:hover span::before,
.slideDiv:hover span::after {
     background: gray;
}

.slideDiv span {
   transition: transform 0.4s linear 0.1s;
   transform: rotate(0deg);
}


.slideDiv span::before {  
     transform: rotate(0deg);
   }
   .slideDiv span::after {
     transform: rotate(0deg);
   } */
 

.quakeDiv {  
   visibility: hidden;
}

.staticDiv {
   display: flex;
   flex-direction: column;
   position: absolute;
   z-index: 1;
   width: 100%;
   height: 100%;
}


.open {  
   /* // animation for showing the hidden menu */
   transition: width 1.0s linear;
   /* // settings for the menu */
   display: flex;  
   flex-direction: column; 
   background: lightblue;
   float: left; 
   position: relative; 
   width: 100%; 
   height: 100%; 
   z-index: 2; 
   top: 0;
   left: 0;
}

.open .quakeDiv {
   display: block;
   visibility: visible; 
}