.outputDiv {
   width: 100%;
   height: 100%;
   overflow: hidden;
   /* align-items: center; */
}

#quakeList,
#quakeDetails {
   width: 500px;
   /* margin: auto; */
   /* align-items: center; */
}

.full_height {
   height: 100%;
}

#quakeDetails {
   width: 600px;
   /* align-items: center; */
}

#quakeList li,
#quakeDetails li {
   /* width: 500px; */   
   background-color: #F2F2F2;
   list-style-type: none;
   border-bottom: 1px solid black;
   /* margin-left: -40px; */
   margin-bottom: 0;
   padding: 10px;
}

.listBorderTop {
   border-top: 2px solid black;
}

#quakeList li:first-of-type,
#quakeDetails li:first-of-type {
   border-top: 2px solid black;
}

#quakeList li:last-of-type,
#quakeDetails li:last-of-type {
   border-bottom: 2px solid black;
}

#refreshPage,
#toggleView {
   margin-bottom: 10px;
   width: 200px;
}

#refreshPage {
   margin-left: 40px;
}

/* #toggleView {
   margin-left: -40px;
} */

.title_bold {
   font-size: 1.2em;
   font-weight: bold;
   font-style: italic;
   color: darkblue;
}

.hide_item {
   display: none;
}

.quakeDiv {
   visibility: hidden;
}

.slideDiv {
   transition: width 1.0s;
   transition-timing-function: linear;
   display: flex;
   flex-direction: column;
   background: white;
   float: left;
   /* position: absolute; */
   position: relative;
   width: 0%;
   height: 100%;
   /* align-items: center; */
}

.staticDiv {
   transition: height 1.0s;
   transition-timing-function: linear;
   display: flex;
   flex-direction: column;
   position: absolute;
   /* position: relative; */
   z-index: 1;
   width: 100%;
   height: 100%;
   /* align-items: center; */
   display: block;
}


.open {
   /* transition: all 1.0 ease-in-out; */
   transition: width 0.2s;
   transition-timing-function: linear;
   display: flex;
   flex-direction: column;
   background: lightblue;
   float: left;
   position: relative; 
   width: 100%;
   height: 100%;
   z-index: 2;
   /* top: 0;
   left: 0; */
   /* align-items: center; */
}

.open .quakeDiv {
   display: block;   
   visibility: visible;
   /* align-items: center; */
}