/* ---------------------------
   Element Type Selectors
*/

/* applying styles on the header, author, and description */
/* header {
   padding: 10px;
   text-align: center;
   background-image: linear-gradient(red, yellow);
   color: white;
}

h1 {
   color: black;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 70px;
   font-style: normal;
   font-variant: small-caps;
   font-stretch: extra-expanded;
   text-shadow: 2px 2px gray;
   padding: 10px 0 20px 0;
   margin: 0px;
   border: 0px;
}

h2 {
   font-size: 2rem;
   font-weight: bold;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-variant: small-caps;
   padding: 1rem;
}

h3 {
   font-size: 20px;
   font-weight: bold;
   font-style: italic;
   padding: 1rem;
} */

footer {
   padding: 1rem;
   text-align: center;
   /* background: rgb(75, 75, 75); */
   background: linear-gradient(to right,rgb(5, 84, 136), rgb(3, 164, 115));
}

/* ---------------------------
   Individual ID Selectors
*/
#f_title {
   color: rgb(183, 183, 183);
   font-weight: bold;
   font-style: italic;
   font-size: 14px;
}

#f_name {
   padding-left: 10px;
   color: white;
   font-weight: bold;
   /* font-style: italic; */
   font-variant: small-caps;
}

#f_desc {
   padding-left: 10px;
   color: rgb(183, 183, 183);
   font-weight: bold;
   font-style: italic;
   font-size: 14px;
}

/* applying styles on the output of this program */
/* #divOutput {
   color: rgb(67, 66, 66);
}

#divOutput p {
   padding: 0 0 1rem 2rem;
   font-family: Arial, Helvetica, sans-serif;
} */

/* ---------------------------
   Class ID Selectors
*/
/* .mainlink {
   text-align: center;   
} */