/* ---------------------------
   Element Type Selectors
*/



/* ---------------------------
   Individual ID Selectors
*/
#f_title {
   color: rgb(183, 183, 183);
   font-weight: bold;
   font-style: italic;
   font-size: 14px;
}

#f_name {
   padding-left: 10px;
   color: white;
   font-weight: bold;
   /* font-style: italic; */
   font-variant: small-caps;
}

#f_desc {
   padding-left: 10px;
   color: rgb(183, 183, 183);
   font-weight: bold;
   font-style: italic;
   font-size: 14px;
}

/* ---------------------------
   Class ID Selectors
*/

.mainlink {
   text-align: center;   
   font-variant: small-caps;
   padding-top: 10px;
}

.myfooter {
   padding: 1rem;
   text-align: center;
   /* background: rgb(75, 75, 75); */
   background: linear-gradient(to right,rgb(5, 84, 136), rgb(3, 164, 115));
}

/* use this class to hide elements the space for the element will NOT be preserved */
.hidden {
   display: none;
}

/* use this class to make elements not visible the space for the element WILL be preserved */
.invisible {
   visibility: hidden;
}

/* use this class to make error background red */
.error {
   background-color: red;
}

/* Added this class to make success messages with green background */
.success {
   background-color: green;
}