body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   align-items: center;
}

main {
   padding: 0 5rem;
   color: #606c71;
}

.projHeader {
   padding: 2rem;
   text-align: center;
   color: #F2F2F2;
   font-size: 1.5em;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background: linear-gradient(to right, rgb(5, 84, 136), rgb(3, 164, 115));
   padding-bottom: 5rem
}

.headDesc {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 0.85em;
   color: #fff;
   font-weight: normal;
   opacity: 0.7;
   margin-bottom: 50px;
}

.pageDesc, h3 {
   text-align: center;
   font-size: 1.6em;
   font-variant: normal;
   font-weight: 10;
   color: #159957;
}

h3 {
   font-size: 1.0em;
   color: gray;
   font-style: italic;
}
/* buttons */

/* --> link to GitHub Button */
.btn {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: normal;
   display: inline-block;
   margin-bottom: 1rem;
   color: rgba(255, 255, 255, 0.7);
   background-color: rgba(255, 255, 255, 0.08);
   border-color: rgba(255, 255, 255, 0.2);
   border-style: solid;
   border-width: 1px;
   border-radius: 0.3rem;
   transition: color 0.2s, background-color 0.2s, border-color 0.2s;
   padding: 0.75rem 1rem;
   text-decoration: none;
   font-size: 0.7em;
   box-shadow: 2px 2px black;
}

.btn:hover {
   transition: color 0.2s, background-color 0.2s, border-color 0.2s;
   background-color: rgba(255, 255, 255, 0.30);
   border-color: rgba(255, 255, 255, 0.40);
   color: rgba(255, 255, 255, 1);
}
/* --> end of link to GitHub Button */

/* two columns page */
.column {
   float: left;
   width: 50%;
 }
 
 /* --> Clear floats after the columns */
 .row:after {
   content: "";
   display: table;
   clear: both;
 }
/* end of two columns page */

/* --> list Team buttons */
.listButton {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-weight: normal;
   display: block;
   /* margin-bottom: 1rem; */
   color: rgb(0, 0, 0);
   background-color: rgba(173, 171, 171, 0.8);
   border-color: rgba(0, 0, 0, 0.5);
   border-style: solid;
   border-width: 2px;
   border-radius: 0.3rem;
   transition: color 0.2s, background-color 0.2s, border-color 0.2s;
   padding: 0.75rem 1rem;
   text-decoration: none;
   font-size: 1.0em;
   width: 280px;
   box-shadow: 2px 2px black;
}

.listButton:hover {
   transition: color 0.2s, background-color 0.2s, border-color 0.2s;
   background-color: rgba(173, 171, 171, 0.4);
   border-color: rgba(255, 255, 255, 0.60);
   color: rgba(0, 0, 0, 1);
}
/* --> end of link to GitHub Button */

.wikiLink, #refreshPage,
#closeDetails, #btnFetch,
#btnPrev, #btnNext {
   margin-top: 10px;
   margin-bottom: 10px;
   width: 200px;
   height: 30px;
   font-size: 1em;
   color: #F2F2F2;
   background-color: rgba(5, 84, 136, 0.80);
   border-radius: 5px;
}

#btnPrev, #btnNext, #refreshPage {
   width: 120px;
}

#refreshPage {
   margin: 10px 10px 0 40px;
   background-color: brown;
}

.wikiLink {
   font-size: 0.8em;
   padding: 0.25em 1.5em;
   text-decoration: none;
   text-transform: uppercase;
   box-shadow: 2px 2px black;
   /* box-shadow: -2px -2px gray; */
 }
/*  
 .wikiLink:hover {
   background-color: #555;
 }
 
 .wikiLink:active {
   background-color: black;
 }
 
 .wikiLink:visited {
   background-color: #ccc;
 } */
/* end of buttons */

.teamDiv {
   text-align: left;
}

#teamDetails li,
#memberDetails li {
   display: block;
   background-color: #F2F2F2;
   list-style-type: none;
   border-bottom: 1px solid black;
   margin-bottom: 0;
   padding: 10px;
   padding-left: 30px;
   width: 88%;
}

#teamDetails li img, 
#memberDetails li img {
   vertical-align: middle;
}

#teamDetails li:first-of-type,
#memberDetails li:first-of-type {
   border-top: 2px solid black;
}

#teamDetails li:last-of-type,
#memberDetails li:last-of-type {
   border-bottom: 2px solid black;
}

/* team members images */
.listImage {
   width: 40px;
   border-radius: 20px;
   margin-right: 15px;
}

.memberImage {
   width: 100px;
   border-radius: 50px;
   border: solid rgba(5, 84, 136, 0.90) 3px;
   margin-right: 1em;
}
/* end of team members images */

#teamNavButtons {
   margin-left: 40px;
}

/* .quakeDiv {
   visibility: hidden;
} */

/* .staticDiv1 {
   transition: height 1.0s;
   transition-timing-function: linear;

   display: flex;
   flex-direction: column;
   float: left;
   
   position: absolute;
   z-index: 1;
   width: 100%;
   display: block;
   height: 500px;
} */

.outputDiv {
   width: 100%;
   height: 100%;
   position: relative;
   /* overflow: hidden; */
   /* align-items: center; */
}

.navDiv, .listDiv, .teamDiv {
   display: flex;
   /* justify-content: center; */
}

.slideDiv {
   transition: width 2.0s;
   transition-timing-function: linear;
   display: flex;
   flex-direction: column;
   background: white;
   float: left;
   position: relative;
   width: 0;
}

.open {
   transition: width 1.0s;
   transition-timing-function: linear;
   display: flex;
   flex-direction: column;
   float: left;
   position: absolute;
   background: lightblue;
   width: 100%;
   z-index: 2;
   top: 0;
   left: 0;
   align-items: center;
}

.open .memberDiv {
   display: block;
   visibility: visible;
}

/* other css formatting based on class */
.listTitle {
   font-size: 1.2em;
   font-weight: bold;
   font-style: italic;
   color:  rgb(5, 84, 136);
}

.hide_item {
   display: none;
   visibility: hidden;
}

.memberTitle {
   font-size: 1.2em;
   font-weight: bold;
   font-style: italic;
   color: rgba(5, 84, 136, 0.90);;
}


@media screen and (max-width: 600px) {
   .column {
     width: 100%;
   }
 }